:root{
--primary-text-color: #212121;
--enother-text-color: #2196F3; 
--little-text-color: #757575;
--big-text-color :#FFFFFF;
--backround-text-color:#2F303A;
--buttons-bg-color: #F5F4FA;
}

.container{
    width: 1700px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-first{
    width: 1600px;
    height: 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    align-items: center;
}

.header-links{
margin: auto;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
display: flex;
align-items: center;
}

.site-links{
    justify-content: space-between;
    display: flex;

}

.studio-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
    margin-right: 50px;
    font-weight: 500;
    line-height: 16.41px;
}

.current{
    color: var(--enother-text-color);
}
.studio-link:focus,
.studio-link:hover{
    color: var(--enother-text-color);
}

.portfolio-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
    margin-right: 50px;
    font-weight: 500;
    line-height: 16.41px;

}

.current-two{
    color: var(--enother-text-color);
}


.portfolio-link:focus,
.portfolio-link:hover{
    color: var(--enother-text-color); 
}

.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
    margin-right: 50px;
    font-weight: 500;
    line-height: 16.41px;

}

.contacts-link:focus,
.contacts-link:hover{
    color: var(--enother-text-color); 

}
.contacts-links{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.contact-links-two{
    display: flex;
    margin-left: 344px;
}

.phone{
    color: var(--little-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 16px;
text-decoration: none;
font-style: normal;
margin-right: auto;
}

.phone:focus,
.phone:hover{
    color: var(--enother-text-color);  
}

.emal{
    color: var(--little-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 16px;
text-decoration: none;
font-style: normal;
margin-left: 50px;
}

.emal:focus,
.emal:hover{
    color: var(--enother-text-color); 
}

.backround-first{
left: 0px;
top: 80px;
width: 1700px;
height: 600px;
background: var(--backround-text-color);
margin: auto;
}

.effective-choise{
    color: var(--big-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    padding-top: 200px ;
    padding-bottom: 280px ;
    padding-left: 452px ;
    padding-right: 452px ;
    width: 696px;
height: 120px;
}

.order-button{
    cursor: pointer;
    color: var(--big-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    background: var(--enother-text-color);
    width: 216px;
height: 50px;
border-radius: 4px;
border: none ;
}

.menu-buttons{
    gap: 8px;
    display: flex;
    margin-top: 94px;
    justify-content: center;
}

.order-button:focus,
.order-button:hover{
    background: var(--little-text-color);
}

.all-team-members{
display: flex;
gap: 30px;
margin-left: 215px;
}

.studio{
color: var(--primary-text-color);
text-decoration: none;
}

.logo-one{
    margin-right: 93px;
}

.logo{
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--enother-text-color);
text-decoration: none;
font-family: Raleway, sans-serif;
}

.images-all{

}

.benefits{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
align-items: center;
justify-content: center;
display: flex;
margin-right: 30px;
}

.members{
    margin-top: 50px;
    margin-bottom: 94px;
}

.benefit-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--little-text-color);
    margin-right: 30px ;
    width: 270px;
height: 48px;
margin-bottom: 118px;
}

.benefit-headers{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    width: 270px;
height: 16px;
margin-top: 94px;
}

.our-benefits{
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
}

.menu-button{
    font-weight: 500;
font-size: 16px;
line-height: 26px;
color: var(--primary-text-color);
background: var(--buttons-bg-color);
cursor: pointer;
font-family: inherit;
border-radius: 4px;
border: none;
}

.menu-button:focus,
.menu-button:hover{
background: var(--enother-text-color);
color: var(--buttons-bg-color);
}

.choise{
color: var(--primary-text-color);
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
}

.choise-name{
color: var(--little-text-color);
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
}

body{
    font-size: 14px;
    background-color: var(--big-text-color);
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
    color: var(--big-text-color);
}

.our-team{
    color: var(--primary-text-color);
    font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
padding-top: 94px;
}

.what-we-doing{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.images-all{
display: flex;
gap: 30px;
margin-left: 215px;
}

.images{
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;
    margin-right: 30px;
    margin-top: 50px ;
    margin-bottom: 94px ;
}

.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-member-profesion{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--little-text-color);
}

.backround-two{
    background: var(--backround-text-color);
    width: 1700px;
height: 252px;
margin: auto;
}

.adress{
    color: var(--big-text-color);
    text-decoration: none;
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 20px;
}

.adress:hover,
.adress:focus{
    color: var(--enother-text-color);
}

.logo-two{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--enother-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    margin-left: 215px;
    padding-top: 60px ;
    }

.studio-two{
    color: var(--big-text-color);
    text-decoration: none;
    
    }

    .adress-two{
        list-style: none;
        justify-content: flex-start;
        margin-left: 215px;
        margin-bottom: 9px;
    margin-top: 20px;
    }

    .team-background{
        background-color: var(--buttons-bg-color) ;
    }

    .phone-two{
        color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    padding-bottom: 60px;
    }

    .emal-two{
        color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    }


    .phone-two:hover,
    .phone-two:focus{
        color: var(--enother-text-color);
        font-family: 'Roboto', sans-serif;
    }

    .emal-two:hover,
    .emal-two:focus{
        color: var(--enother-text-color);
        font-family: 'Roboto', sans-serif;
    }